<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enabled</key>
	<false/>
	<key>filters</key>
	<array>
		<dict>
			<key>fileName</key>
			<string>EasyList</string>
			<key>name</key>
			<string>EasyList</string>
			<key>description</key>
			<string>The most popular list of adblock rules</string>
			<key>type</key>
			<string>main</string>
			<key>isActive</key>
			<false/>
			<key>locale</key>
			<string></string>
		</dict>
		<dict>
			<key>fileName</key>
			<string>EasyList_Russia</string>
			<key>name</key>
			<string>Русский, Українська</string>
			<key>description</key>
			<string>Russian block list</string>
			<key>type</key>
			<string>regional</string>
			<key>isActive</key>
			<false/>
			<key>locale</key>
			<string>ru_RU</string>
		</dict>
		<dict>
			<key>fileName</key>
			<string>EasyList_Indonesia</string>
			<key>name</key>
			<string>Bahasa Indonesia</string>
			<key>description</key>
			<string></string>
			<key>type</key>
			<string>regional</string>
			<key>isActive</key>
			<false/>
			<key>locale</key>
			<string>id_ID</string>
		</dict>
		<dict>
			<key>fileName</key>
			<string>EasyList_Bulgaria</string>
			<key>name</key>
			<string>Български</string>
			<key>description</key>
			<string></string>
			<key>type</key>
			<string>regional</string>
			<key>isActive</key>
			<false/>
			<key>locale</key>
			<string>bg_BG</string>
		</dict>
		<dict>
			<key>fileName</key>
			<string>EasyList_China</string>
			<key>name</key>
			<string>中文</string>
			<key>description</key>
			<string>China block list</string>
			<key>type</key>
			<string>regional</string>
			<key>isActive</key>
			<false/>
			<key>locale</key>
			<string>zh_CN</string>
		</dict>
		<dict>
			<key>fileName</key>
			<string>EasyList_Czechoslovakia</string>
			<key>name</key>
			<string>čeština</string>
			<key>description</key>
			<string></string>
			<key>type</key>
			<string>regional</string>
			<key>isActive</key>
			<false/>
			<key>locale</key>
			<string>cs_CZ</string>
		</dict>
		<dict>
			<key>fileName</key>
			<string>EasyList_Czechoslovakia</string>
			<key>name</key>
			<string>slovenčina</string>
			<key>description</key>
			<string></string>
			<key>type</key>
			<string>regional</string>
			<key>isActive</key>
			<false/>
			<key>locale</key>
			<string>sk_SK</string>
		</dict>
		<dict>
			<key>fileName</key>
			<string>EasyList_Dutch</string>
			<key>name</key>
			<string>Nederlands</string>
			<key>description</key>
			<string></string>
			<key>type</key>
			<string>regional</string>
			<key>isActive</key>
			<false/>
			<key>locale</key>
			<string>nl_NL</string>
		</dict>
		<dict>
			<key>fileName</key>
			<string>EasyList_Germany</string>
			<key>name</key>
			<string>Deutsch</string>
			<key>description</key>
			<string>Germany block list</string>
			<key>type</key>
			<string>regional</string>
			<key>isActive</key>
			<false/>
			<key>locale</key>
			<string>de_DE</string>
		</dict>
		<dict>
			<key>fileName</key>
			<string>EasyList_Hebrew</string>
			<key>name</key>
			<string>עברית</string>
			<key>description</key>
			<string></string>
			<key>type</key>
			<string>regional</string>
			<key>isActive</key>
			<false/>
			<key>locale</key>
			<string>he_IL</string>
		</dict>
		<dict>
			<key>fileName</key>
			<string>EasyList_Italy</string>
			<key>name</key>
			<string>Italiano</string>
			<key>description</key>
			<string></string>
			<key>type</key>
			<string>regional</string>
			<key>isActive</key>
			<false/>
			<key>locale</key>
			<string>it_IT</string>
		</dict>
		<dict>
			<key>fileName</key>
			<string>EasyList_Lithuania</string>
			<key>name</key>
			<string>Lietuvių kalba</string>
			<key>description</key>
			<string></string>
			<key>type</key>
			<string>regional</string>
			<key>isActive</key>
			<false/>
			<key>locale</key>
			<string>lt_LT</string>
		</dict>
		<dict>
			<key>fileName</key>
			<string>EasyList_Latvia</string>
			<key>name</key>
			<string>Latviešu valoda</string>
			<key>description</key>
			<string></string>
			<key>type</key>
			<string>regional</string>
			<key>isActive</key>
			<false/>
			<key>locale</key>
			<string>lv_LV</string>
		</dict>
		<dict>
			<key>fileName</key>
			<string>EasyList_Arabic</string>
			<key>name</key>
			<string>العربية</string>
			<key>description</key>
			<string></string>
			<key>type</key>
			<string>regional</string>
			<key>isActive</key>
			<false/>
			<key>locale</key>
			<string>ar_DZ</string>
		</dict>
		<dict>
			<key>fileName</key>
			<string>EasyList_France</string>
			<key>name</key>
			<string>Français</string>
			<key>description</key>
			<string></string>
			<key>type</key>
			<string>regional</string>
			<key>isActive</key>
			<false/>
			<key>locale</key>
			<string>fr_FR</string>
		</dict>
		<dict>
			<key>fileName</key>
			<string>EasyList_Romania</string>
			<key>name</key>
			<string>Românesc</string>
			<key>description</key>
			<string></string>
			<key>type</key>
			<string>regional</string>
			<key>isActive</key>
			<false/>
			<key>locale</key>
			<string>ro_RO</string>
		</dict>
		<dict>
			<key>fileName</key>
			<string>EasyList_Poland</string>
			<key>name</key>
			<string>Polski</string>
			<key>description</key>
			<string></string>
			<key>type</key>
			<string>regional</string>
			<key>isActive</key>
			<false/>
			<key>locale</key>
			<string>pl_PL</string>
		</dict>
		<dict>
			<key>fileName</key>
			<string>EasyList_Iceland</string>
			<key>name</key>
			<string>íslenska</string>
			<key>description</key>
			<string></string>
			<key>type</key>
			<string>regional</string>
			<key>isActive</key>
			<false/>
			<key>locale</key>
			<string>is_IS</string>
		</dict>
		<dict>
			<key>fileName</key>
			<string>EasyList_Spain</string>
			<key>name</key>
			<string>Español</string>
			<key>description</key>
			<string></string>
			<key>type</key>
			<string>regional</string>
			<key>isActive</key>
			<false/>
			<key>locale</key>
			<string>es_ES</string>
		</dict>
		<dict>
			<key>fileName</key>
			<string>List_Japan</string>
			<key>name</key>
			<string>日本語</string>
			<key>description</key>
			<string></string>
			<key>type</key>
			<string>regional</string>
			<key>isActive</key>
			<false/>
			<key>locale</key>
			<string>ja_JP</string>
		</dict>
		<dict>
			<key>fileName</key>
			<string>EasyList_SocialMedia</string>
			<key>name</key>
			<string>Social Media Buttons</string>
			<key>description</key>
			<string>Blocking social network share-buttons</string>
			<key>type</key>
			<string>common</string>
			<key>isActive</key>
			<false/>
			<key>locale</key>
			<string></string>
		</dict>
		<dict>
			<key>fileName</key>
			<string>EasyPrivacy</string>
			<key>name</key>
			<string>Block tracking</string>
			<key>description</key>
			<string>Blocking spy software and counters</string>
			<key>type</key>
			<string>common</string>
			<key>isActive</key>
			<false/>
			<key>locale</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
